body{
    background-color:lightslategray ;

}
li{
    display: inline;
}
a:hover{
    background-color: lemonchiffon;
    color: darkseagreen;
    font-size: 30px;
}
h1{
    color: burlywood;
}
.oo::first-letter{
    color: #fffb14;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.oo{
   font-size:  15px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color:#5D6FA9;
    color: white;

}
